<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.cmov.airdesk_cmov" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.WorkSpacesActivity"
            android:label="@string/title_activity_work_spaces" >
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Activities.registerActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".Activities.UserSettingsActivity"
            android:label="@string/title_activity_user_settings" >
        </activity>
       <!-- <activity
            android:name=".Activities.NewWorkspaceActivity"
            android:label="@string/title_activity_new_workspace" >
        </activity>-->
        <activity
            android:name=".Activities.MyWorkSpacesActivity"
            android:label="@string/title_activity_my_work_spaces" >
        </activity>
        <activity
            android:name=".Activities.ForeignWorkspacesActivity"
            android:label="@string/title_activity_foreign_workspaces" >
        </activity>
    </application>

</manifest>
